.banner-city-img{
    position: absolute;
}
.page_result_body{
    margin-top: 100px;
    display: flex;
    gap:50px
}
.page_result_body_left{
    width: 35vw;
}
.page_result_body_right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
